.outContainerNav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 95%; */
    box-shadow: 0px 3px 6px #0000000F;
    transition: all 0.5s;
    z-index: 997;
    height: 10vh;
}
.navHead{
    color: rgb(27, 26, 26);
    font: 40px "Jost", sans-serif;
    font-size: 2.5rem;
    margin: 0px 0px 8px;
    
    font-weight: 500;
    
}

.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .navbar-dark .navbar-toggler-icon {
    background-image: url(./download.png); 
} */
.nav-menu > ul {
    display: flex;
}
.nav-menu ul {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 28px;
}
.btnlogin {
    /* color: #fff; */
    /* background: #7ECB20 !important; */
    border-radius: 19px !important;
    background: #7ECB20 0% 0% no-repeat padding-box;
    /* padding: 5px 25px!important; */
    color: #FFFFFF;
    border: none;
    opacity: 1;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 38px;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.48px;
}
.btnlogin:hover {
    background: #7ECB20;
    /* padding: 10px 40px !important; */
    height: 42px;
    width: 142px;
}
.logSig{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.signdiv{
    margin-right: 25px;
    color:#7ECB20 ;
    font-weight: bold;
}


@media only screen and (max-width:768px){
    .get-started-btn{
        margin: 0;
    }
    .navHead{
        font-size: 30px;
    }
    .logSig{
        /* display: flex; */
        flex-direction: column;
    }
    .btnlogin{
        padding: 10px 30px!important;
    }
    .outContainerNav{
        display: none;
    }
}
@media only screen and (min-width:768px){
    .iconToggle{
        display: none;
    }
}

.navbar-toggler {
    position: absolute;
    top: 0px;
    right: -12px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: left;
}
.btn-secondary {
    color: rgb(111, 199, 11);
    background-color: #4099b100;
    border-color: #ffffff00;

}
.btn-secondary:hover {
    color: rgb(101, 231, 14);
    background-color: #4099b100;
    border-color: #ffffff00;

}
.show>.btn-secondary.dropdown-toggle {
    /* color: #fff; */
    background-color: #4099b100;
    border-color: #ffffff00;
}
.btn-secondary.focus, .btn-secondary:focus {
    /* color: rgb(255, 255, 255); */
    background-color: #4099b100;
    border-color: #ffffff00;
    box-shadow: 0 0 0 0rem rgba(130, 138, 145, 0);
}
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgba(10, 124, 224, 0.5);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgb(26 23 23 / 50%);
}
.mcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: var(--blue);
}
.dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: rgb(27, 26, 26);
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color:rgb(26 23 23 / 50%);
}
.navbar-dark .navbar-nav .nav-link {
    color: #111 !important;
}

.btn-secondary {
    color: #000 !important;
    background-color: #fff !important;
    border-color: #fff !important;
}
.btn-secondary:hover {
    color: #000 i !important;
    background-color: #fff !important;
    border-color: #fff !important;
}
.headL{
    text-align: justify;
    font: normal normal bold 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}

.dropdown-menu {
    margin:1rem 0 0 !important;
}
.nav-item{
    margin-right: 40px;
}
.modalLog{
    display: flex;
    right: 0;
    height: 100%;
}

.successH{
    text-align: center;
    font: normal normal 600 22px/30px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.boxsuccess{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 579px;
}
.modalsuccess{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 15px !important;
    opacity: 1;
    top: 110px;
}
.boxSinner{
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnOTP{
    border-radius: 32px !important;
    background: #7ECB20 0% 0% no-repeat padding-box !important;
    /* padding: 5px 25px!important; */
    color: #FFFFFF !important;
    border: none;
    opacity: 1;
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 367px !important;
    height: 57px !important;
    font: normal normal 600 27px/36px Segoe UI !important;
    letter-spacing: 0.48px;
}
.emailOTP{
    text-align: left;
    font: normal normal normal 14px/19px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 5px;
}
.successH{
    text-align: center;
    font: normal normal 600 22px/30px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.boxOTP{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}
@media only screen and (max-width:768px){
    .btnOTP{
        width: 80vw !important;
        height: 50px !important;
    }
}