
.hcontain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 18vh;
}

.get-started-btn {
    /* color: #fff; */
    background: #7ECB20 !important;
    border-radius: 27px !important;
    padding: 27px 27px 27px 27px !important;
    white-space: nowrap;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #7ECB20;
    font-weight: 600;
    font: normal normal 600 16px/22px Open Sans;
    letter-spacing: 0.48px;
    color: #FFFFFF;
    opacity: 1;
    height: 53px;
}
.get-started-btn:hover {
    background: #7ECB20;

}
.hget{
    text-align: center;
    font: normal normal bold 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    opacity: 1;
}
.hget:hover{
    color: #FFFFFF;
    text-decoration: none;
}
.hpara{
    font: normal normal normal 28px/38px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.8;
}
.hhead{
    text-align: center;
    font: normal normal bold 41px/56px Open Sans;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}



.btnSign{
    color: aliceblue !important;
    font-weight: bold !important;
    background-color: #7ECB20 !important;
}
.homeTitle{
    margin-bottom: 0;
    line-height: 1.5;
    margin-left: 32%;
    text-align: center;
}
.subS{
    font: normal normal normal 22px/30px Open Sans;
    letter-spacing: 0px;
    color: #212020;
    opacity: 1;
}
.headS{
    font: normal normal 600 33px/44px Segoe UI;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
}
.forget{
    text-align: end;
    font: normal normal 600 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #7ECB20;
    opacity: 1;
}
.newL{
    text-align: center;
    font: normal normal 600 16px/21px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.modalL{
    height: 100%;
}
.logouterbox{
    display: flex;
    flex-direction: column;
    border: 1px solid #70707052;
    padding: 15px;
}
.stu{
    margin: 0;
}
.headLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7ECB20;
    font-weight: bold;
}

@media only screen and (max-width:768px){
    .modalBS{
        height: 62vh !important;
    }
    .homeTitle{
        margin-left: 25%;
    }
}
.modal-content {
    border-radius: 0.6rem !important;
}
.modalsign {
    border-radius: 1rem !important;
}